#topControlPanel {
    padding: 14px;
    background: #EEEEEE;
    margin-bottom: 4px;
}

#topControlPanel #signOutButton {
    float: right;
}

#topControlPanel button {
    margin-right: 8px;
    font-size: 12px;
}

#topControlPanel .icon {
    font-size: 22px;
    line-height: 34px;
}

#tabOption .icon {
    margin-right: 8px;
    font-size: 18px;
}